// bootstrap
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/type";
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/code";

/*
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/grid";
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/tables";
*/

html, body {
  height: 100%;
}

#container, #app {
  height: 100%;
}

#content_left, #content_right {
  overflow-y: scroll;
  overflow-x: hidden;
}

#content_right {
  padding: 10px;
}

@media (min-width: 600px) {
  #content_left {
    float: left;
    width: 400px;
    max-width: 400px;
    height: 100%;
    border-right: 1px solid black;
  }
  #content_right {
    height: 100%;
  }
}

@media (max-width: 600px) {
  #content_left {
    width: 100%;
    height: 30%;
    border-bottom: 1px solid black;
  }
  #content_right {
    width: 100%;
    height: 70%;
  }

}


// request table

.rtable .highlight td {
  background: #fff297 !important;
}

.rtable {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #666;
  font-size: 12px;
  margin: 0;
  border: #ccc 1px solid;
  border-collapse: collapse;

  a:link {
    color: #666;
    font-weight: bold;
    text-decoration: none;
  }
  a:visited {
    color: #999999;
    font-weight: bold;
    text-decoration: none;
  }
  a:active, a:hover {
    color: #bd5a35;
    text-decoration: underline;
  }
}

.rtable th {
  padding: 1px 5px 2px 5px;
  border-top: 1px solid #fafafa;
  border-bottom: 1px solid #e0e0e0;
  margin: 0;
  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
}

.rtable tr {
  text-align: center;
  padding: 2px 5px;
  margin: 0;
}

.rtable td:first-child {
  border-left: 0;
}

.rtable td {
  padding: 2px 5px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;

  background: #fafafa;
}

.rtable tr.even td {
  background: #f2f6c9;
}

.rtable tr:last-child td {
  border-bottom: 0;
}

.rtable tr:hover td {
  background: #f2eee7;
}
